# Ignore node_modules directory
node_modules

# Ignore development/test specific files
*.log
*.test.js
*.spec.js

# Ignore local environment files
.env

# Ignore Docker related files (optional)
.dockerignore
Dockerfile
docker-compose.yml
